body{
    margin: 0px;
}


h1{
    font-size: 2em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 300px;
    font-family: fantasy;
    text-align: center;
    /* -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888; */
    box-shadow: 4px 4px 5px #888888;
    margin-top: 20px;
}

img{
    width:300px;
    height: 200px;
    margin: 5px;
    transition: all 1s;
    
}

.element{
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;

}

/* is the same as  */

.element{
    animation: 
        stretch
        1.5s
        ease-out
        0s
        infinite
        alternate
        none
        running

      }

img:hover{
    transform: rotate(25deg);
}

.container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}