/* selector{
    property: value;
} */
h2{
    color: darkred;
    background-color: black;
    text-align: right;
}

p{
    color: darkslateblue;
    background-color: whitesmoke;
    font-size: 30px;
}

span{
    font-size: 2rem;
    font-size: 2em;
    
}

li{
    background-color: rgb(223, 168, 30);
    list-style: none;
    display: inline-block;
    font-size: larger;
}

.boxmodel{
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 20px;
    width: 35;
    height: 65;
}
