body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(startup\ header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 2em;
  color: #97b8d9;
}

hr{
  border-color: rgb(221, 76, 23);
  border-width: 3px;
  max-width: 65px;

}

.buffer{
      height: 6rem;
}

.btn{
  font-weight: 200px;
  border-radius:150px;
-webkit-border-radius: 150px;
-ms-border-radius: 150px;
-moz-border-radius: 150px;
-o-border-radius: 150px;
text-transform: uppercase;
}

.btn-success{
  background-color: rgb(221, 76, 23);
  border-color: rgb(221, 76, 23);
}

.btn-success:hover{
  background-color: rgb(165, 64, 27);
  border-color: rgb(165, 64, 27);
  border-width: 4px;
}
.btn-xl{
  padding: 0.6rem 1rem;
  
}

